@import url('./fonts.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Twentieth Century MT', Helvetica, sans-serif;
  font-weight: 500;
}

.navbar {
  box-shadow: 0px 0px 2px black;
  padding: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar .logo {
  margin: 10px 0 5px;
}

.navbar__menu {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  overflow: hidden;
  justify-content: space-evenly;
}

.navbar__break {
  flex-basis: 100%;
  flex-grow: 1;
}

.hamburger {
  display: inline-block;
  align-self: center;
}

.logo {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.link {
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.link:hover {
  background-color: lightgray;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider__slides {
  width: 100%;
  position: relative;
  min-height: 30vh;
}

.slider__controllers {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.slider__controller {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
  transition: 0.2s;
}

.slider__controller--current,
.slider__controller:hover {
  opacity: 1;
}

.slide {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
}

.slide__img {
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  flex-flow: column nowrap;
}

.footer .logo,
.footer__caption {
  margin: 0 auto;
  text-align: center;
}

.footer__copyright {
  font-weight: 300;
  font-size: 95%;
}

.main-content {
  padding: 0 20px;
  margin: 0 auto;
}

.showcase {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [mid] 1fr [end];
  row-gap: 5px;
  column-gap: 10px;
}

.showcase__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 1px black;
  grid-column: start / mid;
  grid-row: 1 / 4;
}

.showcase__title {
  grid-column: mid / end;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
}

.showcase__subtitle {
  grid-column: mid / end;
  font-size: 90%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.showcase__description {
  grid-column: mid / end;
  font-weight: 300;
  text-align: justify;
}
