@import url('./fonts.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Twentieth Century MT', Helvetica, sans-serif;
  font-weight: 500;
}

.navbar {
  box-shadow: 0px 0px 2px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar .logo {
  margin: 10px 10px 5px;
}

.navbar__menu {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  overflow: hidden;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.hamburger {
  margin-right: 10px;
  display: inline-block;
  align-self: center;
}

.logo {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.link {
  width: 100%;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 10px;
}

.link:hover,
.link:active {
  background-color: lightgray;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-between;
}

.contact > * {
  margin-top: 5px;
}

.contact__message {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 5px;
  row-gap: 5px;
  box-shadow: none;
}

.contact__label {
  height: 100%;
}

.contact__submit {
  -webkit-appearance: none;
  margin-left: auto;
  padding: 0.5ch 1ch;
  font-size: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  font-weight: 700;
  background-color: #000;
  color: white;
}

.contact__label {
  line-height: 120%;
}

.contact__text-area,
.contact__text-input {
  border-radius: 0;
  border: 1px solid black;
  resize: none;
  line-height: 120%;
  padding: 0.1rem;
}

.text-input {
  outline: none;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.text-input__input {
  flex-grow: 2;
  margin-left: 5px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}

.text-input__input:focus {
  outline: none;
}

.text-input--fill {
  flex-basis: 100%;
  flex-grow: 2;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider__slides {
  width: 100%;
  position: relative;
  min-height: 30vh;
}

.slider__controllers {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.slider__controller {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
  transition: 0.2s;
}

.slider__controller--current,
.slider__controller:hover {
  opacity: 1;
}

.slide {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
}

.slide__img {
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  flex-flow: column nowrap;
}

.footer .logo,
.footer__caption {
  margin: 0 auto;
  text-align: center;
}

.footer__copyright {
  font-weight: 300;
  font-size: 95%;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.projects__panel {
  text-align: center;
  margin-bottom: 10px;
}
.projects__title {
  text-transform: uppercase;
  font-size: x-large;
}

.projects__categories {
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  margin: 5px 20px;
  justify-content: space-between;
}

.projects__category {
  transition: 0.1s;
  cursor: pointer;
}

.projects__category,
.projects__categories-title {
  padding: 0.5ch 1.5ch;
}

.projects__category:last-child {
  margin-right: 0;
}

.projects__categories-title:first-child {
  margin-left: 0;
  padding-left: 0;
}

.projects__category--current,
.projects__category:hover {
  background-color: #000;
  color: #fff;
}

.projects__search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
}

.projects__input {
  border: none;
  border-bottom: 1px solid black;
  margin: 0 5px;
  padding: 0.5ch 0;
  flex-grow: 2;
  border-radius: 0;
}

.projects__input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.projects__submit {
  border: none;
  padding: 1ch 1ch 0.5ch;
  background-color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

.projects__submit:hover,
.projects__submit:active {
  background-color: #000;
  color: #fff;
}

.projects__result {
  width: 100%;
}

.masonry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

.masonry__col {
  flex-basis: 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.masonry__col:last-of-type {
  margin-right: 0 !important;
}

.masonry__element:last-of-type {
  margin-bottom: 0 !important;
}

.project {
  width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.project__img {
  display: block;
  width: 100%;
  height: 100%;
  animation: project-img-deactivate 0.1s;
}

.project__title {
  padding: 5px;
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: large;
  animation: project-title-deactivate 0.1s;
}

.project--active .project__img {
  filter: brightness(25%);
  animation-name: project-img-activate;
  animation-duration: 0.1s;
}

.project--active .project__title {
  display: block;
  animation-name: project-title-activate;
  animation-duration: 0.1s;
}

@keyframes project-title-activate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes project-img-activate {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(25%);
  }
}

@keyframes project-title-deactivate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes project-img-deactivate {
  from {
    filter: brightness(25%);
  }
  to {
    filter: brightness(100%);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.modal--hidden {
  display: none;
}

.modal__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  background-color: lightgray;
  color: black;
  font-weight: 500;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.modal__title {
  margin-bottom: 5px;
}

.modal__line {
  color: #000;
}

.modal__description {
  font-weight: 300;
  margin-top: 5px;
}

.modal__options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.modal-option {
  padding: 0.5ch 1ch;
  border: none;
  color: black;
  font-size: 100%;
  background-color: #bababa;
  box-shadow: 0px 0px 2px #545454;
  transition: 50ms;
}

.modal-option:hover {
  color: white;
  background-color: #545454;
}

.modal--success .modal__popup {
  background-color: lightgreen;
  color: black;
}

.modal--success .modal-option {
  background-color: #7fba7f;
}

.modal--success .modal-option:hover {
  background-color: #537a53;
}

.modal--warning .modal__popup {
  background-color: #eddb51;
}

.modal--warning .modal-option {
  background-color: #baac3f;
}

.modal--warning .modal-option:hover {
  background-color: #7a712a;
}

.modal--failure .modal__popup {
  background-color: #f06060;
}

.modal--failure .modal-option {
  background-color: #d65656;
}

.modal--failure .modal-option:hover {
  background-color: #963c3c;
}

.main-content {
  padding: 0 20px;
  margin: 0 auto;
}

.showcase {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [mid] 1fr [end];
  row-gap: 5px;
  column-gap: 10px;
}

.showcase__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 1px black;
  grid-column: start / mid;
  grid-row: 1 / 4;
}

.showcase__title {
  grid-column: mid / end;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
}

.showcase__subtitle {
  grid-column: mid / end;
  font-size: 90%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.showcase__description {
  grid-column: mid / end;
  font-weight: 300;
  text-align: justify;
}

.offers {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.offers__title {
  text-align: center;
  flex-basis: 100%;
  text-transform: uppercase;
  grid-column: 1 / -1;
}

.offer {
  text-align: center;
  padding: 10px 5px;
}

.blog {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.blog__panel {
  text-align: center;
  margin-bottom: 10px;
}

.blog__title {
  text-transform: uppercase;
  font-size: x-large;
}

.blog__categories {
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  justify-content: space-between;
  margin: 5px auto;
}

.blog__category {
  transition: 0.1s;
  cursor: pointer;
}

.blog__category--current,
.blog__category:hover {
  background-color: #000;
  color: white;
}

.blog__categories-title,
.blog__category {
  padding: 0.5ch 1.5ch;
}

.blog__category:last-child {
  margin-right: 0;
}

.blog__categories-title {
  margin-left: 0;
  padding-left: 0;
}

.blog__search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
}

.blog__input {
  padding: 0.5ch 0;
  flex-grow: 2;
  border: none;
  border-radius: 0;
  margin: 0 5px;
  border-bottom: 1px solid black;
}

.blog__submit {
  padding: 1ch 1ch 0.5ch;
  border: none;
  border-radius: none;
  transition: 0.1s;
  background-color: #fff;
}

.blog__submit:hover,
.blog__submit:active {
  background-color: #000;
  color: white;
}

.blog__articles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.article {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 3px lightgray;
  display: grid;
  grid-template-columns: [start] 3fr [mid] 5fr [end];
  gap: 5px;
}

.article__img {
  grid-column: start / mid;
  grid-row: 1 / 3;
  width: 100%;
}

.article__title,
.article__date {
  grid-column: mid / end;
}

.article__content {
  grid-column: start / end;
}

.article__title {
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
}

.article__date {
  color: dimgray;
}

.article__content {
  text-align: justify;
  font-weight: 300;
  color: black;
}

@media (min-width: 1080px) {
  .navbar {
    justify-content: space-evenly;
    flex-flow: row nowrap;
    align-items: stretch;
    text-align: center;
  }

  .navbar .link {
    display: block;
    position: relative;
  }

  .link a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slider__slides {
    min-height: 75vh;
  }

  .main-content {
    padding: 0 20%;
  }

  .showcase {
    display: block;
    position: relative;
  }

  .showcase__img {
    filter: brightness(50%);
  }

  .showcase__card {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }

  .showcase__title {
    font-size: 2.5rem;
  }

  .showcase__description {
    font-size: large;
  }
}
