@import url('fonts.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Twentieth Century MT', Helvetica, sans-serif;
  font-weight: 500;
}

.navbar {
  box-shadow: 0px 0px 2px black;
  padding: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  overflow: hidden;
}

.navbar__break {
  flex-basis: 100%;
  flex-grow: 1;
}

.hamburger {
  display: inline-block;
  align-self: center;
}

.logo {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.link {
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.link:hover {
  background-color: lightgray;
}
